<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.catigeart.notice.mapper.SuperRoleMapper">
    <select id="findAll" resultType="pers.catigeart.notice.entity.SuperRole">
        select * from super_role
    </select>
</mapper>
