<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.catigeart.notice.mapper.UserMapper">
    <select id="findByOrg" resultType="pers.catigeart.notice.entity.User"
            parameterType="pers.catigeart.notice.entity.Org">
        select * from user where username in (
            select username from user_org_role where org_role_id in (
                select id from org_role where org_id = #{id}
                )
            )
    </select>

    <select id="findByKlass" resultType="pers.catigeart.notice.entity.User"
            parameterType="pers.catigeart.notice.entity.Klass">
        select * from user where klass_id = #{id}
    </select>

    <select id="findWithRoleByKlass" resultType="pers.catigeart.notice.entity.User"
            parameterType="pers.catigeart.notice.entity.Klass">
        select * from user
        where klass_id = #{id} and
              username in (
                  select username from user_klass_role
                )
    </select>
 </mapper>
